<!DOCTYPE html>

<html>
<head>
  
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%-include("partials/headImports") -%>
  
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">
      <%-include("partials/header") -%>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
      <%-include("partials/sidebar") -%>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      
      <h1>         
          <span><i class="fas fa-chalkboard"></i> LISTADO DE CURSOS </span>  
          <small>Materia programadas para esta gestión</small>
        </h1>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fas fa-home"></i> Inicio</a></li>
        <li class="active"><i class="fas fa-chalkboard"></i> Cursos</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
      <div class="row">

          <%for(var i = 1; i< 5;i++){%>
          <div class="col-lg-3 col-xs-12 col-md-4 col-sm-6">
            <!-- small box -->
            <div class="small-box bg-primary ">
              <div class="inner text-center">
                <h3>SIS-<%=i%>0<%=i%></h3>      
                <p>Programacón <%=i%></p>
              </div>                  
              <a href="/cursos/adv8fdf51vd" class="small-box-footer">
                VER CURSO <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <%}%>
          <%for(var i = 3; i< 7;i++){%>
          <div class="col-lg-3 col-xs-12 col-md-4 col-sm-6">
            <!-- small box -->
            <div class="small-box bg-primary ">
              <div class="inner text-center">
                <h3>SIS-<%=i%>01</h3>      
                <p>Estructura de datos <%=i-2%></p>
              </div>                  
              <a href="/cursos/adv8fdf51vd" class="small-box-footer">
                VER CURSO <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <%}%>
          <%for(var i = 6; i< 10;i++){%>
          <div class="col-lg-3 col-xs-12 col-md-4 col-sm-6">
            <!-- small box -->
            <div class="small-box bg-primary ">
              <div class="inner text-center">
                <h3>SIS-<%=i%>02></h3>      
                <p>Seminario <%=i-5 %></p>
              </div>                  
              <a href="#" class="small-box-footer">
                VER CURSO<i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <%}%>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  <%-include("partials/footer") -%>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">

  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
</body>
</html>
